/*welcome*/
#suggest {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #CCCCFF;
    font-size: 90%;
    width: 200px;
}
#suggest div {
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}
#suggest div.select{ /* キー上下で選択した場合のスタイル */
    color: #FFFFFF;
    background-color: #3366FF;
}
#suggest div.over{ /* マウスオーバ時のスタイル */
    background-color: #99CCFF;
}
/*body*/
body {
    background-color: #5e937e;
    color: #dae8eb;
}

/*toppage*/
.header {
    background-color: #feb57b;
    display: grid;
    padding:20px 80px;
    grid-template-columns: repeat(4,80px) 80px 1fr 80px 80px 80px;
    grid-template-rows: 20px;
}

.bookmarks_top {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 200px;
    
    width: 640px;
    height:100px;
    border: 1px solid;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bookmark_top {
    margin: auto;
    width:80px;
    height: 100px;
    text-align: center;
    display: grid;
    grid-template-rows: 80px 20px;
    border: 1px solid;
}

.icon_top {
    margin: auto;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    grid-rows:1/2; 
}

.title_top {
    margin: auto;
    grid-rows:2/3;
}

.history_top {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 300px;
    
    width: 400px;
    
    border: 1px solid;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news_top {
    width: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* historypage */
img.thumbnail_idx {
    width: 240px;
    height: 135px;
    object-fit: cover;
}

.updated_idx {
    font-size: small;
}

.bookmark_idx {
    margin-left: 50px;
    display: grid;
    grid-template-rows: 30px 135px;
    grid-template-columns: 240px 1fr;
}

.updated_at {
    grid-row: 1/2;
    grid-column:1/3;
}

.imgzone_idx {
    grid-row: 2/3;
    grid-column:1/2;
}

.textzone_idx {
    grid-row: 2/3;
    grid-column:2/3;
}


.textzone_idx {
    display: grid;
    grid-template-rows: 40px 75px 20px;
    grid-template-columns: 540px 1fr;
}

.title_idx {
    grid-row:1/2;
    grid-column:1/2;
    font-size:30px;
    overflow: hidden;
}

.comment_idx{
    grid-row:2/3;
    grid-column:1/3;
    font-size:medium;
    color:#808080;
    overflow: hidden;
}

.tags_idx {
    grid-row:3/4;
    grid-column:1/3;
    font-size:small;
}

.folder_idx {
    grid-row:1/2;
    grid-column:2/3;
    font-size:small;
}

.mokuji_idx{
    margin-left:50px;
}

/* add_detail */

img#preview{
    width: 240px;
    height: 135px;
    object-fit: cover;
}